@keyframes fish {
    0% {transform: rotate(10deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(10deg);}
}
@font-face {
    src: url('/source/Icon-Regular.ttf');
    font-family: Icon;
}
.fish {
    position: absolute;
    top: 43%;
    left: 43%;
    font-size: 100px;
    transform: none;
    transition: 1s;
    font-family: Icon;
    animation: fish 1s infinite;
    }
.click {
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 39%;
    left: 41%;
    opacity: 1;
    transition: 1s;
}
body {
    overflow: hidden;
    width: 99vw;
    height: 99vh;
    background: #60aaeb;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}