@keyframes blink {
    0% {opacity: 1}
    10% {opacity: 0.2}
    20% {opacity: 0.1}
    40% {opacity: 0.5}
    50% {opacity: 0.3}
    100% {opacity: 1}
}
@keyframes blinktext {
    0% {opacity: 1}
    10% {opacity: 0.3}
    12% {opacity: 0.5}
    20% {opacity: 0.7}
    38% {opacity: 0.3}
    40% {opacity: 0.05; color: #B20600}
    44% {opacity: 0.3}
    59% {opacity: 1}
    70% {opacity: 0.4}
    80% {opacity: 0.5}
    90% {opacity: 0.2}
    100% {opacity: 1}
}
@keyframes hell {
    0% {opacity: 0}
    29% {opacity: 0}
    30% {opacity: 0.1}
    31% {opacity: 0}
    35% {opacity: 0.1}
    37% {opacity: 0}
    100% {opacity: 0}
}
@keyframes hide{
    0% {opacity: 1}
    100% {opacity: 0}
}
@font-face {
    src: url('/source/Icon-Regular.ttf');
    font-family: Icon;
}
.cat {
    position: absolute;
    top: 43%;
    left: 43%;
    font-size: 120px;
    transform: none;
    transition: 1s;
    font-family: Icon;
    animation: blink 1s infinite;
}
.click {
    animation: blinktext 5s infinite;
}
.pic {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    right: 100px;
    animation: hell 7s infinite;
}
.satan {
    font-family: Icon;
    font-size: 1000px;;
    position: absolute;
    top: 200px;
    left: 500px;
    opacity: 0;
    transition: 1s;
}
body {
    transition: 0.2s;
    overflow: hidden;
}