.fa-solid.fa-fish {
    position: absolute;
    top: 43%;
    left: 43%;
    font-size: 90px;
    transform: none;
    transition: 1s;
}
.click {
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 39%;
    left: 41%;
    opacity: 1;
}
body {
    background-image: url('/source/ocean.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}