.container {
    position: absolute;
    left: 10%;
    top: 1px;
    width: 80vw;
    height: 98vh;
}
.fa-solid.fa-cat {
    position: absolute;
    top: 43%;
    left: 43%;
    font-size: 90px;
    transform: none;
    transition: 1s;
}
.click {
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 39%;
    left: 41%;
    opacity: 1;
}

.menu {
    position: absolute;
    top: 50px;
    left: -15px;
    background-color: #040303;
    transition: 1s;
    opacity: 1;
    width: 100px;
    height: 400px;
    z-index: 2;
    border-radius: 15px;
}
.fa-solid.fa-meteor {
    transition: 0.5s;
    font-size: 40px;
    position: absolute;
    top: 50px;
    left: 35px;
    color: white;
}
.fa-solid.fa-meteor:hover {
    transition: 0.5s;
    color: #6A67CE;
}