.cat {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 200px;
    height: 200px;
    transform: none;
    transition: 1s;
}
.click {
    font-family: 'Epilogue', sans-serif;
    font-size: 30px;
    position: absolute;
    top: 39%;
    left: 41%;
    opacity: 1;
}